<% form_for @application do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.password :password %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
<% end %>
