<% form_for @category, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <%content_tag :p do%>
    <%=f.label :image, "Select an image header"%><br />
    <%=f.file_field :image%>
  <%end%>
  <p><%= f.submit "Submit" %></p>
<% end %>
